BACKEND_ENV=placeholdernSUPABASE_URL=https://YOUR_PROJECT.supabase.conSUPABASE_KEY=placeholdernSUPABASE_STORAGE_BUCKET=thaaldraftnSUPABASE_SERVICE_ROLE_KEY=placeholdernFIREBASE_PROJECT_ID=placeholdernFIREBASE_CLIENT_ID=placeholdernFIREBASE_CLIENT_EMAIL=placeholdernGEMINI_API_KEY=placeholdernDEEPSEEK_API_KEY=placeholdernOPENALEX_API_KEY=placeholdernSTORAGE_TYPE=localn